* {
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
}

.container {
    width: 1000px;
    margin: 0 auto;

}

.head {
    background-color: #f4f5f4;
    height: 100px;
    display: grid;
    padding-left: 50px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

button {
    height: 30px;
    width: 100px;
    background-color: #006fca;
    color: #ffffff;
    border: none;
    margin-top: 50px;
}

.calendar div {
    margin-top: 20px;
}

.month {
    margin-left: 60px;
}

.month .icon-triangle-left,
.month .icon-triangle-right {
    border: #b0b0b0 1px solid;
    color: #b0b0b0;

}
#calendar .month {
   text-align: center;
    margin: 20px;
}
.month td {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.month button {
    margin-left: 15px;
    border: #b0b0b0 1px solid;
    background: none;
    font-size: 12px;
    color: #000000;
    width: 70px;
    height: 25px;
}

input {
    float: right;
    width: 235px;
    height: 30px;
    border: #efefef 1px solid;
    margin-top: 50px;
    margin-right: 50px;
}


table {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
    color: #b0b0b0;
}


table  td,
table th {
    width: 150px;
    height: 150px;
    border: #efefef 1px solid;
    vertical-align: top;
}

#calendar tbody td.today {
    background-color: #f4f5f4;
    font-weight: bold;
    color: #8e8e8e;
}

